.Goal{
    background:url(https://1.bp.blogspot.com/-Wpc6EQdjui8/XXP_uaQsddI/AAAAAAAADL8/c7hMZ9QPRwcELvJVnBth3EA2wD_cVeIwwCLcBGAs/s1600/Flat_colorful_background.jpg)!important;
    height:300px;
    background-size:cover!important;
    border-radius: 15px;
    box-shadow: 17px 17px 0px rgb(0 0 0 / 30%);
    position: relative;
}

.Goal .title{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.8);
    padding: 10px 70px;
    border-radius: 8px;
    font-size: 22px;
}

.Goal .card{
    background:rgba(0,0,0,0.7);
    border-radius:5px;
}

.Goal .card-header{
    border-bottom: 2px solid rgb(255 255 255 / 13%);
}